
@media (min-width: 1024px) {
    form {
      width: 50%;
    }
  }
  
  #contact {
    width: 85%;
    margin: 0 auto;
    padding: 2%;
  }
  @media (min-width: 600px) {
    #contact h3 {
      font-size: 2.2rem;
    }
  }
  @media (min-width: 700px) {
    #contact h3 {
      font-size: 2.5rem;
    }
  }
  @media (min-width: 1024px) {
    #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #contact h2 {
      font-size: 2rem;
      margin-bottom: 3%;
    }
  }
  .contact-form {
    width: 95%;
  }
  
