html {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    --img-url: "props.imgUrl";
    font-family: "Montserrat", sans-serif;
  }
  
  a {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  
  h3 {
    color: #FDCB10;
    background-color: #36426A;
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    display: inline-block;
    padding-bottom: 1%;
    text-align: center;
    width: 100%;
  }
  @media (min-width: 600px) {
    h3 {
      font-size: 1.5rem;
      letter-spacing: 3px;
      padding: 1% 0 1% 0;
    }
  }
  @media (min-width: 1024px) {
    h3 {
      display: block;
      font-size: 1rem;
      width: 40%;
    }
  }
  
  p {
    color: #36426A;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    width: 100%;
  }
  @media (min-width: 600px) {
    p {
      color: #36426A;
      font-size: 1.3rem;
    }
  }
  @media (min-width: 1024px) {
    p {
      font-size: 1rem;
      width: 40%;
    }
  }
  
  h2 {
    background-color: #36426A;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 5% 0;
    text-align: center;
  }
  @media (min-width: 600px) {
    h2 {
      margin-bottom: 0;
      font-size: 2.5rem;
    }
  }
  @media (min-width: 700px) {
    h2 {
      margin-bottom: 0;
      font-size: 3rem;
    }
  }
  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      padding: 2% 0;
      width: 40%;
    }
  }
  
  h2:hover {
    color: #fff;
    background-color: #FDCB10;
  }
  
  h4 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0;
    opacity: 1;
  }

  /* Nav bar */
  
  
  
  /* Logo Principal */
  
  
  .header_button {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 20px;
    color: #36426A;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 3% 7%;
    background-color: #FDCB10;
    border: solid #FFDE82 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  @media (min-width: 600px) {
    .header_button {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .header_button {
      font-size: 1.2rem;
      padding: 2% 5%;
      margin-left: 29%
    }
  }
  
  .header_button:hover {
    background: #FFDE82;
    border: solid #FFDE82 1px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration: none;
  }
  
  

  /*Products Section*/



/*Steps Section*/


/*Contact Section*/


/*Footer Section*/
